.main {
    svg{
        position: relative;
        left: 10px;
        margin-top: 0px;
        height: 1rem;
    }

    &.inverted svg{
        transform: rotate(180deg)
    }

    display: flex;
    align-items: center;
    justify-items: start;
}